<form class="form-inline">
  <div class="form-group mb-2">
    <input type="text" 
      class="form-control mr-2" 
      placeholder="Buscar"
      [(ngModel)]="filterList" [ngModelOptions]="{standalone: true}">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Porte</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="customers && customers.length">
    <tr *ngFor="let customer of eventFilterCustomers">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.companySize == 0 ? 'Pequena' : (customer.companySize == 1 ? 'Média' : 'Grande')}}</td>
       <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" tooltip="Editar" (click)="openModal(template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir">
            <i class="fa fa-eraser"></i>
          </button> 
        </div>
      </td> 
    </tr>
  </tbody>
  <tfoot *ngIf="!customers.length">
    <td colspan="7" class="text-center">
      <h6>Nenhuma informação a ser exibida.</h6>
    </td>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>)
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>